@model tpEstudiante.Carrera

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Carrera</h1>

<h3 style="color:red">¿Esta Seguro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <div style="margin-top:20px">
            <a asp-action="Index" class="btn btn-info">Volver</a>
        </div>
    </form>
</div>
