@page
@model LockoutModel
@{
    ViewData["Title"] = "bloqueo";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Cuenta Bloqueada, intentelo mas tarde</p>
</header>
